PORT=5000
DATABASE_URL="postgresql://postgres:password@localhost:5432/medicine_tracker"
JWT_SECRET="medicine_tracker_dev_secret_2026"
REDIS_URL="redis://localhost:6379"
ML_SERVICE_URL="http://127.0.0.1:8000"
